{
  "swagger": "2.0",
  "info": {
    "version": "2016-06-27-preview",
    "title": "ContainerRegistryManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/checkNameAvailability": {
      "post": {
        "tags": [
          "Operation"
        ],
        "summary": "Checks whether the specified container registry name is available.",
        "description": "Checks whether the specified container registry name is valid and is not already in use.",
        "operationId": "Registries_CheckNameAvailability",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "registryNameCheckRequest",
            "in": "body",
            "description": "The request to check whether the container registry name is available.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistryNameCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistryNameStatus"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}": {
      "get": {
        "tags": [
          "Registries"
        ],
        "summary": "Gets the properties for the specified container registry.",
        "description": "Gets the properties for the specified container registry in the specified subscription and resource group.",
        "operationId": "Registries_GetProperties",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "description": "The container registry name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Registries"
        ],
        "summary": "Creates or updates a container registry with the specified properties.",
        "description": "Creates or updates a container registry in the specified subscription and resource group with the specified properties. The storage account that you provide in this operation should be in the same location as the container registry.",
        "operationId": "Registries_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "description": "The container registry name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registry",
            "in": "body",
            "description": "The container registry.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Registries"
        ],
        "summary": "Deletes the specified container registry.",
        "description": "Deletes the specified container registry from the specified subscription and resource group.",
        "operationId": "Registries_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "description": "The container registry name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "Registries"
        ],
        "summary": "Updates the specified container registry with the specified parameters.",
        "description": "Updates the specified container registry with the specified parameters, in the specified subscription and resource group. The storage account that you provide in this operation should be in the same location as the container registry.",
        "operationId": "Registries_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "description": "The container registry name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryUpdateParameters",
            "in": "body",
            "description": "The parameters for updating a container registry.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistryUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries": {
      "get": {
        "tags": [
          "Registries"
        ],
        "summary": "Lists the container registries in the specified resource group.",
        "description": "Lists the container registries in the specified subscription and resource group.",
        "operationId": "Registries_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistryListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/registries": {
      "get": {
        "tags": [
          "Registries"
        ],
        "summary": "Lists the container registries in the specified subscription.",
        "description": "Lists the container registries in the specified subscription.",
        "operationId": "Registries_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistryListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/getCredentials": {
      "post": {
        "tags": [
          "Registries"
        ],
        "summary": "Gets the admin user credentials for the specified container registry.",
        "description": "Gets the admin username and password for the specified container registry in the specified subsciption and resource group.",
        "operationId": "Registries_GetCredentials",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "description": "The container registry name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistryCredentials"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/regenerateCredentials": {
      "post": {
        "tags": [
          "Registries"
        ],
        "summary": "Regenerates the admin user credentials for the specified container registry.",
        "description": "Regenerates the admin username and password for the specified container registry in the specified subsciption and resource group.",
        "operationId": "Registries_RegenerateCredentials",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "description": "The container registry name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistryCredentials"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RegistryNameCheckRequest": {
      "description": "The request to check whether the container registry name is available.",
      "required": [
        "name",
        "type"
      ],
      "properties": {
        "name": {
          "description": "The container registry name. The container registry name can contain only letters and numbers.",
          "type": "string"
        },
        "type": {
          "description": "The container registry resource type.",
          "enum": [
            "Microsoft.ContainerRegistry/registries"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ContainerRegistryResourceType",
            "modelAsString": false
          }
        }
      }
    },
    "RegistryNameStatus": {
      "description": "The result of checking name availability.",
      "properties": {
        "nameAvailable": {
          "description": "Whether the container registry name is available.",
          "type": "boolean"
        },
        "reason": {
          "description": "The reason that the container registry name could not be used.",
          "type": "string"
        },
        "message": {
          "description": "The error message that explains the reason value in more detail.",
          "type": "string"
        }
      }
    },
    "Registry": {
      "description": "The container registry.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/RegistryProperties",
          "description": "The container registry properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "RegistryProperties": {
      "description": "The container registry properties.",
      "required": [
        "storageAccount"
      ],
      "properties": {
        "loginServer": {
          "description": "The URL to log into the container registry.",
          "type": "string",
          "readOnly": true
        },
        "creationDate": {
          "format": "date-time",
          "description": "The creation date of the container registry in ISO8601 format.",
          "type": "string",
          "readOnly": true
        },
        "adminUserEnabled": {
          "description": "Whether the admin user account is enabled in the container registry. The default value is false.",
          "default": false,
          "type": "boolean"
        },
        "storageAccount": {
          "$ref": "#/definitions/StorageAccountProperties",
          "description": "The properties of the storage account for the container registry."
        }
      }
    },
    "StorageAccountProperties": {
      "description": "The properties of the storage account for the container registry.",
      "required": [
        "name",
        "accessKey"
      ],
      "properties": {
        "name": {
          "description": "The storage account name.",
          "type": "string"
        },
        "accessKey": {
          "description": "The storage account access key.",
          "type": "string"
        }
      }
    },
    "RegistryUpdateParameters": {
      "description": "The parameters for updating a container registry.",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/RegistryPropertiesUpdateParameters",
          "description": "The parameters for updating container registry properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "RegistryPropertiesUpdateParameters": {
      "description": "The parameters for updating container registry properties.",
      "properties": {
        "adminUserEnabled": {
          "description": "Whether the admin user account for the container registry is enabled. The default value is false.",
          "type": "boolean"
        },
        "storageAccount": {
          "$ref": "#/definitions/StorageAccountProperties",
          "description": "The properties of the storage account for the container registry."
        }
      }
    },
    "RegistryListResult": {
      "description": "The result of listing container registries.",
      "properties": {
        "value": {
          "description": "The result of listing container registries.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Registry"
          }
        },
        "nextLink": {
          "description": "The URI to fetch the next set of container registries.",
          "type": "string"
        }
      }
    },
    "RegistryCredentials": {
      "description": "The result of showing admin user credentials.",
      "properties": {
        "username": {
          "description": "The admin username.",
          "type": "string"
        },
        "password": {
          "description": "The admin password.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Azure resource.",
      "required": [
        "location"
      ],
      "properties": {
        "id": {
          "description": "Resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Resource location. After the resource has been created, the location cannot be updated.",
          "type": "string"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Microsoft Azure subscription ID.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The client API version.",
      "required": true,
      "type": "string"
    }
  }
}